[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

PIPENV_IGNORE_VIRTUALENVS=1

[dev-packages]

[packages]
jupyter = "*"
notebook = "*"
ipykernel = "*"

[requires]
python_version = "3.6"
